html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 1em;
  margin-top: 0;
  hyphens: auto;
}

:is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
}

img {
  display: block;
}

header {
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  padding: 1em;
  top: 0;
  height: 3.3em;
  width: 100vw;

  margin: 0 -1em;
}

.sposi {
  &__img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}

h2,
h3 {
  margin-top: 2em;
}

.data-e-chiesa {
  span {
    display: block;
  }
}
