html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "EB Garamond", serif;
  font-size: 1.4rem;
  margin: 1em;
}

:is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
}

img {
  display: block;
}

.sposi {
  &__img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}

#silvia-e-andrea {
  font-style: italic;
  font-weight: normal;
}

#data-e-chiesa {
  text-align: center;
}

h2,
h3 {
  margin-top: 2em;
}

.musica {
  text-align: center;
  font-weight: bold;
}
