@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
%blink-animation {
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes rainbow-animation {
  from {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: cyan;
  }
  to {
    color: deeppink;
  }
}
%rainbow-animation {
  animation: rainbow-animation 1s steps(5, start) infinite;
}

html,
body {
  background: black;
}

body {
  font-family: "Press Start 2P", cursive;
  font-size: 1.2rem;
  color: white;
  line-height: 1.7;
}

:is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
  font-weight: normal;
  color: yellow;
}

h3 {
  color: cyan;
}

#silvia-e-andrea {
  color: deeppink;
}

.data-e-chiesa {
  text-align: center;
  color: lightgray;
  &__data {
    margin-bottom: 1em;
    @extend %blink-animation;
  }
}

header {
  background-color: rgba(0, 0, 0, 0.8);
}

.sposi {
  display: none;
}

.musica {
  text-align: center;
  font-weight: bold;
  @extend %rainbow-animation;
  margin: 2em 0;

  &::before {
    content: "Ф ";
  }
  &::after {
    content: " Ф";
  }
}
