@import url("@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&display=swap');");

body {
  font-family: "EB Garamond", serif;
  font-size: 1.4rem;
  hyphens: none;
}

:is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
}

#silvia-e-andrea {
  font-style: italic;
  font-weight: normal;
}

.toggleLayout__booklet {
  display: none;
}

section {
  padding: 1rem;
}

.sposi {
  background-image: url(../images/sposi.webp);
  width: 100%;
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding-bottom: 140%;
}

.data-e-chiesa {
  text-align: center;
  font-style: italic;
}

.scroll-down-to-play {
  display: none;
}

header {
  background-color: rgba(255, 255, 255, 0.9);
  height: 80px;
}

header,
section {
  max-width: 600px;
  margin: 0 auto;
}

.all {
  font-weight: bold;
}

.andrea,
.silvia {
  font-size: 110%;
}

.canzone {
  margin: 2rem 0;
  &__body {
    border-left: 1px solid grey;
    padding-left: 1rem;
  }
  &__title {
    text-align: center;
    font-weight: bold;

    &::before {
      content: "🎵 ";
    }
    &::after {
      content: " 🎵";
    }
  }
}
