@import "./nes.css/nes";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$russian-violet: #2e0037ff;
$russian-violet-08: #2e0037cc;
$dark-purple-2: #17001cff;
$black: #000000ff;

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
%blink-animation {
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes rainbow-animation {
  from {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: cyan;
  }
  to {
    color: deeppink;
  }
}
%rainbow-animation {
  animation: rainbow-animation 1s steps(5, start) infinite;
}
html {
  background-color: $russian-violet;
}

%text-emoji {
  font-size: 24px;
  margin-right: 10px;
}

body {
  font-family: "Press Start 2P", monospace;
  font-size: 0.8rem;
  color: white;
  line-height: 1.7;
  hyphens: manual;
}

header,
section {
  max-width: 420px;
  margin: 0 auto;
}

.toggleLayout__gamer {
  display: none;
}

.toggleLayout__booklet > .emoji {
  font-size: 18px;
  margin-right: 7px;
}

section {
  background: $dark-purple-2;
  background: linear-gradient(
    $russian-violet,
    $black
  );
  padding: 3em 1em;
}

:is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
  font-weight: normal;
}

h1 {
  color: deeppink;
}

h2 {
  color: yellow;
}

h3 {
  margin-top: 2em;
  color: cyan;
}

.all {
  color: yellow;
  &::before {
    @extend %text-emoji;
    content: "💒";
  }
}
.reader {
  color: greenyellow;
  &::before {
    @extend %text-emoji;
    content: "📖";
  }
}
.andrea {
  color: cyan;
  &::before {
    @extend %text-emoji;
    content: "🤵🏻‍♂️";
  }
}
.silvia {
  color: deeppink;
  &::before {
    @extend %text-emoji;
    content: "👰🏻";
  }
}

.data-e-chiesa {
  text-align: center;
  color: lightgray;
  &__data {
    margin-bottom: 1em;
  }
}

.scroll-down-to-continue {
  text-align: center;
  margin-top: 3em;
  @extend %blink-animation;
}

header {
  background-color: $russian-violet-08;
  height: 82px;

  button {
    font-family: inherit;
    font-size: 10px;
    @extend .nes-btn;
  }
}

.sposi {
  height: 230px;
  background-image: url(../images/beating-heart.gif),
    url(../images/silvia-pixelated-320px.webp),
    url(../images/andrea-pixelated-320px.webp);
  background-size: 100px 100px, 160px 230px, 160px 230px;
  background-position: center, left top, right top;
  background-repeat: no-repeat;
  margin: 2em 0;
}

.musica {
  text-align: center;
  font-weight: bold;
  @extend %rainbow-animation;
  margin: 2em 0;

  &::before {
    content: "Ф ";
  }
  &::after {
    content: " Ф";
  }
}
