@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "./nes.css/nes";

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
%blink-animation {
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes rainbow-animation {
  from {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: cyan;
  }
  to {
    color: deeppink;
  }
}
%rainbow-animation {
  animation: rainbow-animation 1s steps(5, start) infinite;
}
html {
  background-color: rgb(46, 0, 55);
}

body {
  font-family: "Press Start 2P", monospace;
  font-size: 0.8rem;
  color: white;
  line-height: 1.7;
  hyphens: manual;
}

section {
  background-image: linear-gradient(rgb(46, 0, 55), black);
  padding: 3em 1em;
}

:is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
  font-weight: normal;
}

h1 {
  color: deeppink;
}

h2 {
  color: yellow;
}

h3 {
  margin-top: 2em;
  color: cyan;
}

.data-e-chiesa {
  text-align: center;
  color: lightgray;
  &__data {
    margin-bottom: 1em;
  }
}

.scroll-down-to-continue {
  text-align: center;
  margin-top: 3em;
  @extend %blink-animation;
}

header {
  background-color: rgba(46, 0, 55, 0.8);
  height: 4.6rem;

  button {
    font-family: inherit;
    font-size: 12px;
    @extend .nes-btn;
  }
}

.sposi {
  padding-bottom: 72%;
  background-image: url(../images/beating-heart.gif),
    url(../images/silvia-pixelated-320px.webp),
    url(../images/andrea-pixelated-320px.webp);
  background-size: 100px 100px, 160px 230px, 160px 230px;
  background-position: center, left top, right top;
  background-repeat: no-repeat;
  margin: 2em 0;
}

.musica {
  text-align: center;
  font-weight: bold;
  @extend %rainbow-animation;
  margin: 2em 0;

  &::before {
    content: "Ф ";
  }
  &::after {
    content: " Ф";
  }
}
