@charset "UTF-8";
/*!***************************************************************************\
  NES.css Framework
  Version: development
build-data()
\*****************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.nes-btn, header button {
  border-style: solid;
  border-width: 4px;
}

/* https://medium.com/@matuzo/writing-css-with-accessibility-in-mind-8514a0007939 */
.nes-btn, header button {
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  position: relative;
  display: inline-block;
  padding: 6px 8px;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  cursor: url(get-file-as-data-uri("../assets/cursor-click.png")) 14 0, pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #212529;
  background-color: #fff;
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-btn, header button {
    border-image-repeat: space;
  }
}

@supports (-moz-appearance: meterbar) {
  .nes-btn, header button {
    border-image-repeat: stretch;
  }
}

.nes-btn::after, header button::after {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  content: "";
  -webkit-box-shadow: inset -4px -4px #adafbc;
          box-shadow: inset -4px -4px #adafbc;
}

.nes-btn:hover, header button:hover {
  color: #212529;
  text-decoration: none;
  background-color: #e7e7e7;
}

.nes-btn:hover::after, header button:hover::after {
  -webkit-box-shadow: inset -6px -6px #adafbc;
          box-shadow: inset -6px -6px #adafbc;
}

.nes-btn:focus, header button:focus {
  -webkit-box-shadow: 0 0 0 6px rgba(173, 175, 188, 0.3);
          box-shadow: 0 0 0 6px rgba(173, 175, 188, 0.3);
}

.nes-btn:active:not(.is-disabled)::after, header button:active:not(.is-disabled)::after {
  -webkit-box-shadow: inset 4px 4px #adafbc;
          box-shadow: inset 4px 4px #adafbc;
}

.nes-btn:focus, header button:focus {
  outline: 0;
}

.nes-btn.is-disabled, header button.is-disabled, .nes-btn.is-disabled:hover, header button.is-disabled:hover, .nes-btn.is-disabled:focus, header button.is-disabled:focus {
  color: #212529;
  cursor: not-allowed;
  background-color: #d3d3d3;
  -webkit-box-shadow: inset -4px -4px #adafbc;
          box-shadow: inset -4px -4px #adafbc;
  opacity: 0.6;
}

.nes-btn.is-disabled:hover::after, header button.is-disabled:hover::after {
  -webkit-box-shadow: inset -4px -4px #adafbc;
          box-shadow: inset -4px -4px #adafbc;
}

.nes-btn.is-primary, header button.is-primary {
  color: #fff;
  background-color: #209cee;
}

.nes-btn.is-primary::after, header button.is-primary::after {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  content: "";
  -webkit-box-shadow: inset -4px -4px #006bb3;
          box-shadow: inset -4px -4px #006bb3;
}

.nes-btn.is-primary:hover, header button.is-primary:hover {
  color: #fff;
  text-decoration: none;
  background-color: #108de0;
}

.nes-btn.is-primary:hover::after, header button.is-primary:hover::after {
  -webkit-box-shadow: inset -6px -6px #006bb3;
          box-shadow: inset -6px -6px #006bb3;
}

.nes-btn.is-primary:focus, header button.is-primary:focus {
  -webkit-box-shadow: 0 0 0 6px rgba(0, 107, 179, 0.3);
          box-shadow: 0 0 0 6px rgba(0, 107, 179, 0.3);
}

.nes-btn.is-primary:active:not(.is-disabled)::after, header button.is-primary:active:not(.is-disabled)::after {
  -webkit-box-shadow: inset 4px 4px #006bb3;
          box-shadow: inset 4px 4px #006bb3;
}

.nes-btn.is-success, header button.is-success {
  color: #fff;
  background-color: #92cc41;
}

.nes-btn.is-success::after, header button.is-success::after {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  content: "";
  -webkit-box-shadow: inset -4px -4px #4aa52e;
          box-shadow: inset -4px -4px #4aa52e;
}

.nes-btn.is-success:hover, header button.is-success:hover {
  color: #fff;
  text-decoration: none;
  background-color: #76c442;
}

.nes-btn.is-success:hover::after, header button.is-success:hover::after {
  -webkit-box-shadow: inset -6px -6px #4aa52e;
          box-shadow: inset -6px -6px #4aa52e;
}

.nes-btn.is-success:focus, header button.is-success:focus {
  -webkit-box-shadow: 0 0 0 6px rgba(74, 165, 46, 0.3);
          box-shadow: 0 0 0 6px rgba(74, 165, 46, 0.3);
}

.nes-btn.is-success:active:not(.is-disabled)::after, header button.is-success:active:not(.is-disabled)::after {
  -webkit-box-shadow: inset 4px 4px #4aa52e;
          box-shadow: inset 4px 4px #4aa52e;
}

.nes-btn.is-warning, header button.is-warning {
  color: #212529;
  background-color: #f7d51d;
}

.nes-btn.is-warning::after, header button.is-warning::after {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  content: "";
  -webkit-box-shadow: inset -4px -4px #e59400;
          box-shadow: inset -4px -4px #e59400;
}

.nes-btn.is-warning:hover, header button.is-warning:hover {
  color: #212529;
  text-decoration: none;
  background-color: #f2c409;
}

.nes-btn.is-warning:hover::after, header button.is-warning:hover::after {
  -webkit-box-shadow: inset -6px -6px #e59400;
          box-shadow: inset -6px -6px #e59400;
}

.nes-btn.is-warning:focus, header button.is-warning:focus {
  -webkit-box-shadow: 0 0 0 6px rgba(229, 148, 0, 0.3);
          box-shadow: 0 0 0 6px rgba(229, 148, 0, 0.3);
}

.nes-btn.is-warning:active:not(.is-disabled)::after, header button.is-warning:active:not(.is-disabled)::after {
  -webkit-box-shadow: inset 4px 4px #e59400;
          box-shadow: inset 4px 4px #e59400;
}

.nes-btn.is-error, header button.is-error {
  color: #fff;
  background-color: #e76e55;
}

.nes-btn.is-error::after, header button.is-error::after {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  content: "";
  -webkit-box-shadow: inset -4px -4px #8c2022;
          box-shadow: inset -4px -4px #8c2022;
}

.nes-btn.is-error:hover, header button.is-error:hover {
  color: #fff;
  text-decoration: none;
  background-color: #ce372b;
}

.nes-btn.is-error:hover::after, header button.is-error:hover::after {
  -webkit-box-shadow: inset -6px -6px #8c2022;
          box-shadow: inset -6px -6px #8c2022;
}

.nes-btn.is-error:focus, header button.is-error:focus {
  -webkit-box-shadow: 0 0 0 6px rgba(140, 32, 34, 0.3);
          box-shadow: 0 0 0 6px rgba(140, 32, 34, 0.3);
}

.nes-btn.is-error:active:not(.is-disabled)::after, header button.is-error:active:not(.is-disabled)::after {
  -webkit-box-shadow: inset 4px 4px #8c2022;
          box-shadow: inset 4px 4px #8c2022;
}

.nes-btn input[type="file"], header button input[type="file"] {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.nes-icon {
  position: relative;
  display: inline-block;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.nes-icon::before {
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  content: "";
}

.nes-icon.coin::before {
  width: 1px;
  height: 1px;
  color: #ffc107;
  -webkit-box-shadow: 6px 1px #060606,7px 1px #060606,8px 1px #060606,9px 1px #060606,10px 1px #060606,11px 1px #060606,4px 2px #060606,5px 2px #060606,6px 2px #060606,7px 2px #fff,8px 2px #fff,9px 2px #fff,10px 2px #060606,11px 2px #060606,12px 2px #060606,13px 2px #060606,3px 3px #060606,4px 3px #060606,5px 3px #fff,6px 3px #fff,7px 3px,8px 3px,9px 3px,10px 3px,11px 3px,12px 3px #060606,13px 3px #060606,3px 4px #060606,4px 4px #fff,5px 4px,6px 4px,7px 4px #fff,8px 4px #fff,9px 4px #fff,10px 4px #060606,11px 4px,12px 4px,13px 4px #060606,14px 4px #060606,2px 5px #060606,3px 5px #060606,4px 5px #fff,5px 5px,6px 5px,7px 5px #fff,8px 5px,9px 5px,10px 5px #060606,11px 5px,12px 5px,13px 5px #060606,14px 5px #060606,2px 6px #060606,3px 6px #fff,4px 6px,5px 6px,6px 6px,7px 6px #fff,8px 6px,9px 6px,10px 6px #060606,11px 6px,12px 6px,13px 6px,14px 6px #060606,15px 6px #060606,2px 7px #060606,3px 7px #fff,4px 7px,5px 7px,6px 7px,7px 7px #fff,8px 7px,9px 7px,10px 7px #060606,11px 7px,12px 7px,13px 7px,14px 7px #060606,15px 7px #060606,2px 8px #060606,3px 8px #fff,4px 8px,5px 8px,6px 8px,7px 8px #fff,8px 8px,9px 8px,10px 8px #060606,11px 8px,12px 8px,13px 8px,14px 8px #060606,15px 8px #060606,2px 9px #060606,3px 9px #fff,4px 9px,5px 9px,6px 9px,7px 9px #fff,8px 9px,9px 9px,10px 9px #060606,11px 9px,12px 9px,13px 9px,14px 9px #060606,15px 9px #060606,2px 10px #060606,3px 10px #fff,4px 10px,5px 10px,6px 10px,7px 10px #fff,8px 10px,9px 10px,10px 10px #060606,11px 10px,12px 10px,13px 10px,14px 10px #060606,15px 10px #060606,2px 11px #060606,3px 11px #fff,4px 11px,5px 11px,6px 11px,7px 11px #fff,8px 11px,9px 11px,10px 11px #060606,11px 11px,12px 11px,13px 11px,14px 11px #060606,15px 11px #060606,2px 12px #060606,3px 12px #060606,4px 12px #fff,5px 12px,6px 12px,7px 12px #fff,8px 12px,9px 12px,10px 12px #060606,11px 12px,12px 12px,13px 12px #060606,14px 12px #060606,3px 13px #060606,4px 13px #fff,5px 13px,6px 13px,7px 13px #fff,8px 13px #060606,9px 13px #060606,10px 13px #060606,11px 13px,12px 13px,13px 13px #060606,14px 13px #060606,3px 14px #060606,4px 14px #060606,5px 14px #fff,6px 14px,7px 14px,8px 14px,9px 14px,10px 14px,11px 14px,12px 14px #060606,13px 14px #060606,4px 15px #060606,5px 15px #060606,6px 15px #060606,7px 15px,8px 15px,9px 15px,10px 15px #060606,11px 15px #060606,12px 15px #060606,13px 15px #060606,6px 16px #060606,7px 16px #060606,8px 16px #060606,9px 16px #060606,10px 16px #060606,11px 16px #060606;
          box-shadow: 6px 1px #060606,7px 1px #060606,8px 1px #060606,9px 1px #060606,10px 1px #060606,11px 1px #060606,4px 2px #060606,5px 2px #060606,6px 2px #060606,7px 2px #fff,8px 2px #fff,9px 2px #fff,10px 2px #060606,11px 2px #060606,12px 2px #060606,13px 2px #060606,3px 3px #060606,4px 3px #060606,5px 3px #fff,6px 3px #fff,7px 3px,8px 3px,9px 3px,10px 3px,11px 3px,12px 3px #060606,13px 3px #060606,3px 4px #060606,4px 4px #fff,5px 4px,6px 4px,7px 4px #fff,8px 4px #fff,9px 4px #fff,10px 4px #060606,11px 4px,12px 4px,13px 4px #060606,14px 4px #060606,2px 5px #060606,3px 5px #060606,4px 5px #fff,5px 5px,6px 5px,7px 5px #fff,8px 5px,9px 5px,10px 5px #060606,11px 5px,12px 5px,13px 5px #060606,14px 5px #060606,2px 6px #060606,3px 6px #fff,4px 6px,5px 6px,6px 6px,7px 6px #fff,8px 6px,9px 6px,10px 6px #060606,11px 6px,12px 6px,13px 6px,14px 6px #060606,15px 6px #060606,2px 7px #060606,3px 7px #fff,4px 7px,5px 7px,6px 7px,7px 7px #fff,8px 7px,9px 7px,10px 7px #060606,11px 7px,12px 7px,13px 7px,14px 7px #060606,15px 7px #060606,2px 8px #060606,3px 8px #fff,4px 8px,5px 8px,6px 8px,7px 8px #fff,8px 8px,9px 8px,10px 8px #060606,11px 8px,12px 8px,13px 8px,14px 8px #060606,15px 8px #060606,2px 9px #060606,3px 9px #fff,4px 9px,5px 9px,6px 9px,7px 9px #fff,8px 9px,9px 9px,10px 9px #060606,11px 9px,12px 9px,13px 9px,14px 9px #060606,15px 9px #060606,2px 10px #060606,3px 10px #fff,4px 10px,5px 10px,6px 10px,7px 10px #fff,8px 10px,9px 10px,10px 10px #060606,11px 10px,12px 10px,13px 10px,14px 10px #060606,15px 10px #060606,2px 11px #060606,3px 11px #fff,4px 11px,5px 11px,6px 11px,7px 11px #fff,8px 11px,9px 11px,10px 11px #060606,11px 11px,12px 11px,13px 11px,14px 11px #060606,15px 11px #060606,2px 12px #060606,3px 12px #060606,4px 12px #fff,5px 12px,6px 12px,7px 12px #fff,8px 12px,9px 12px,10px 12px #060606,11px 12px,12px 12px,13px 12px #060606,14px 12px #060606,3px 13px #060606,4px 13px #fff,5px 13px,6px 13px,7px 13px #fff,8px 13px #060606,9px 13px #060606,10px 13px #060606,11px 13px,12px 13px,13px 13px #060606,14px 13px #060606,3px 14px #060606,4px 14px #060606,5px 14px #fff,6px 14px,7px 14px,8px 14px,9px 14px,10px 14px,11px 14px,12px 14px #060606,13px 14px #060606,4px 15px #060606,5px 15px #060606,6px 15px #060606,7px 15px,8px 15px,9px 15px,10px 15px #060606,11px 15px #060606,12px 15px #060606,13px 15px #060606,6px 16px #060606,7px 16px #060606,8px 16px #060606,9px 16px #060606,10px 16px #060606,11px 16px #060606;
}

@supports (-moz-appearance: meterbar) {
  .nes-icon.coin::before {
    -webkit-box-shadow: 6px 1px 0 0.020em #060606,7px 1px 0 0.020em #060606,8px 1px 0 0.020em #060606,9px 1px 0 0.020em #060606,10px 1px 0 0.020em #060606,11px 1px 0 0.020em #060606,4px 2px 0 0.020em #060606,5px 2px 0 0.020em #060606,6px 2px 0 0.020em #060606,7px 2px 0 0.020em #fff,8px 2px 0 0.020em #fff,9px 2px 0 0.020em #fff,10px 2px 0 0.020em #060606,11px 2px 0 0.020em #060606,12px 2px 0 0.020em #060606,13px 2px 0 0.020em #060606,3px 3px 0 0.020em #060606,4px 3px 0 0.020em #060606,5px 3px 0 0.020em #fff,6px 3px 0 0.020em #fff,7px 3px 0 0.020em,8px 3px 0 0.020em,9px 3px 0 0.020em,10px 3px 0 0.020em,11px 3px 0 0.020em,12px 3px 0 0.020em #060606,13px 3px 0 0.020em #060606,3px 4px 0 0.020em #060606,4px 4px 0 0.020em #fff,5px 4px 0 0.020em,6px 4px 0 0.020em,7px 4px 0 0.020em #fff,8px 4px 0 0.020em #fff,9px 4px 0 0.020em #fff,10px 4px 0 0.020em #060606,11px 4px 0 0.020em,12px 4px 0 0.020em,13px 4px 0 0.020em #060606,14px 4px 0 0.020em #060606,2px 5px 0 0.020em #060606,3px 5px 0 0.020em #060606,4px 5px 0 0.020em #fff,5px 5px 0 0.020em,6px 5px 0 0.020em,7px 5px 0 0.020em #fff,8px 5px 0 0.020em,9px 5px 0 0.020em,10px 5px 0 0.020em #060606,11px 5px 0 0.020em,12px 5px 0 0.020em,13px 5px 0 0.020em #060606,14px 5px 0 0.020em #060606,2px 6px 0 0.020em #060606,3px 6px 0 0.020em #fff,4px 6px 0 0.020em,5px 6px 0 0.020em,6px 6px 0 0.020em,7px 6px 0 0.020em #fff,8px 6px 0 0.020em,9px 6px 0 0.020em,10px 6px 0 0.020em #060606,11px 6px 0 0.020em,12px 6px 0 0.020em,13px 6px 0 0.020em,14px 6px 0 0.020em #060606,15px 6px 0 0.020em #060606,2px 7px 0 0.020em #060606,3px 7px 0 0.020em #fff,4px 7px 0 0.020em,5px 7px 0 0.020em,6px 7px 0 0.020em,7px 7px 0 0.020em #fff,8px 7px 0 0.020em,9px 7px 0 0.020em,10px 7px 0 0.020em #060606,11px 7px 0 0.020em,12px 7px 0 0.020em,13px 7px 0 0.020em,14px 7px 0 0.020em #060606,15px 7px 0 0.020em #060606,2px 8px 0 0.020em #060606,3px 8px 0 0.020em #fff,4px 8px 0 0.020em,5px 8px 0 0.020em,6px 8px 0 0.020em,7px 8px 0 0.020em #fff,8px 8px 0 0.020em,9px 8px 0 0.020em,10px 8px 0 0.020em #060606,11px 8px 0 0.020em,12px 8px 0 0.020em,13px 8px 0 0.020em,14px 8px 0 0.020em #060606,15px 8px 0 0.020em #060606,2px 9px 0 0.020em #060606,3px 9px 0 0.020em #fff,4px 9px 0 0.020em,5px 9px 0 0.020em,6px 9px 0 0.020em,7px 9px 0 0.020em #fff,8px 9px 0 0.020em,9px 9px 0 0.020em,10px 9px 0 0.020em #060606,11px 9px 0 0.020em,12px 9px 0 0.020em,13px 9px 0 0.020em,14px 9px 0 0.020em #060606,15px 9px 0 0.020em #060606,2px 10px 0 0.020em #060606,3px 10px 0 0.020em #fff,4px 10px 0 0.020em,5px 10px 0 0.020em,6px 10px 0 0.020em,7px 10px 0 0.020em #fff,8px 10px 0 0.020em,9px 10px 0 0.020em,10px 10px 0 0.020em #060606,11px 10px 0 0.020em,12px 10px 0 0.020em,13px 10px 0 0.020em,14px 10px 0 0.020em #060606,15px 10px 0 0.020em #060606,2px 11px 0 0.020em #060606,3px 11px 0 0.020em #fff,4px 11px 0 0.020em,5px 11px 0 0.020em,6px 11px 0 0.020em,7px 11px 0 0.020em #fff,8px 11px 0 0.020em,9px 11px 0 0.020em,10px 11px 0 0.020em #060606,11px 11px 0 0.020em,12px 11px 0 0.020em,13px 11px 0 0.020em,14px 11px 0 0.020em #060606,15px 11px 0 0.020em #060606,2px 12px 0 0.020em #060606,3px 12px 0 0.020em #060606,4px 12px 0 0.020em #fff,5px 12px 0 0.020em,6px 12px 0 0.020em,7px 12px 0 0.020em #fff,8px 12px 0 0.020em,9px 12px 0 0.020em,10px 12px 0 0.020em #060606,11px 12px 0 0.020em,12px 12px 0 0.020em,13px 12px 0 0.020em #060606,14px 12px 0 0.020em #060606,3px 13px 0 0.020em #060606,4px 13px 0 0.020em #fff,5px 13px 0 0.020em,6px 13px 0 0.020em,7px 13px 0 0.020em #fff,8px 13px 0 0.020em #060606,9px 13px 0 0.020em #060606,10px 13px 0 0.020em #060606,11px 13px 0 0.020em,12px 13px 0 0.020em,13px 13px 0 0.020em #060606,14px 13px 0 0.020em #060606,3px 14px 0 0.020em #060606,4px 14px 0 0.020em #060606,5px 14px 0 0.020em #fff,6px 14px 0 0.020em,7px 14px 0 0.020em,8px 14px 0 0.020em,9px 14px 0 0.020em,10px 14px 0 0.020em,11px 14px 0 0.020em,12px 14px 0 0.020em #060606,13px 14px 0 0.020em #060606,4px 15px 0 0.020em #060606,5px 15px 0 0.020em #060606,6px 15px 0 0.020em #060606,7px 15px 0 0.020em,8px 15px 0 0.020em,9px 15px 0 0.020em,10px 15px 0 0.020em #060606,11px 15px 0 0.020em #060606,12px 15px 0 0.020em #060606,13px 15px 0 0.020em #060606,6px 16px 0 0.020em #060606,7px 16px 0 0.020em #060606,8px 16px 0 0.020em #060606,9px 16px 0 0.020em #060606,10px 16px 0 0.020em #060606,11px 16px 0 0.020em #060606;
            box-shadow: 6px 1px 0 0.020em #060606,7px 1px 0 0.020em #060606,8px 1px 0 0.020em #060606,9px 1px 0 0.020em #060606,10px 1px 0 0.020em #060606,11px 1px 0 0.020em #060606,4px 2px 0 0.020em #060606,5px 2px 0 0.020em #060606,6px 2px 0 0.020em #060606,7px 2px 0 0.020em #fff,8px 2px 0 0.020em #fff,9px 2px 0 0.020em #fff,10px 2px 0 0.020em #060606,11px 2px 0 0.020em #060606,12px 2px 0 0.020em #060606,13px 2px 0 0.020em #060606,3px 3px 0 0.020em #060606,4px 3px 0 0.020em #060606,5px 3px 0 0.020em #fff,6px 3px 0 0.020em #fff,7px 3px 0 0.020em,8px 3px 0 0.020em,9px 3px 0 0.020em,10px 3px 0 0.020em,11px 3px 0 0.020em,12px 3px 0 0.020em #060606,13px 3px 0 0.020em #060606,3px 4px 0 0.020em #060606,4px 4px 0 0.020em #fff,5px 4px 0 0.020em,6px 4px 0 0.020em,7px 4px 0 0.020em #fff,8px 4px 0 0.020em #fff,9px 4px 0 0.020em #fff,10px 4px 0 0.020em #060606,11px 4px 0 0.020em,12px 4px 0 0.020em,13px 4px 0 0.020em #060606,14px 4px 0 0.020em #060606,2px 5px 0 0.020em #060606,3px 5px 0 0.020em #060606,4px 5px 0 0.020em #fff,5px 5px 0 0.020em,6px 5px 0 0.020em,7px 5px 0 0.020em #fff,8px 5px 0 0.020em,9px 5px 0 0.020em,10px 5px 0 0.020em #060606,11px 5px 0 0.020em,12px 5px 0 0.020em,13px 5px 0 0.020em #060606,14px 5px 0 0.020em #060606,2px 6px 0 0.020em #060606,3px 6px 0 0.020em #fff,4px 6px 0 0.020em,5px 6px 0 0.020em,6px 6px 0 0.020em,7px 6px 0 0.020em #fff,8px 6px 0 0.020em,9px 6px 0 0.020em,10px 6px 0 0.020em #060606,11px 6px 0 0.020em,12px 6px 0 0.020em,13px 6px 0 0.020em,14px 6px 0 0.020em #060606,15px 6px 0 0.020em #060606,2px 7px 0 0.020em #060606,3px 7px 0 0.020em #fff,4px 7px 0 0.020em,5px 7px 0 0.020em,6px 7px 0 0.020em,7px 7px 0 0.020em #fff,8px 7px 0 0.020em,9px 7px 0 0.020em,10px 7px 0 0.020em #060606,11px 7px 0 0.020em,12px 7px 0 0.020em,13px 7px 0 0.020em,14px 7px 0 0.020em #060606,15px 7px 0 0.020em #060606,2px 8px 0 0.020em #060606,3px 8px 0 0.020em #fff,4px 8px 0 0.020em,5px 8px 0 0.020em,6px 8px 0 0.020em,7px 8px 0 0.020em #fff,8px 8px 0 0.020em,9px 8px 0 0.020em,10px 8px 0 0.020em #060606,11px 8px 0 0.020em,12px 8px 0 0.020em,13px 8px 0 0.020em,14px 8px 0 0.020em #060606,15px 8px 0 0.020em #060606,2px 9px 0 0.020em #060606,3px 9px 0 0.020em #fff,4px 9px 0 0.020em,5px 9px 0 0.020em,6px 9px 0 0.020em,7px 9px 0 0.020em #fff,8px 9px 0 0.020em,9px 9px 0 0.020em,10px 9px 0 0.020em #060606,11px 9px 0 0.020em,12px 9px 0 0.020em,13px 9px 0 0.020em,14px 9px 0 0.020em #060606,15px 9px 0 0.020em #060606,2px 10px 0 0.020em #060606,3px 10px 0 0.020em #fff,4px 10px 0 0.020em,5px 10px 0 0.020em,6px 10px 0 0.020em,7px 10px 0 0.020em #fff,8px 10px 0 0.020em,9px 10px 0 0.020em,10px 10px 0 0.020em #060606,11px 10px 0 0.020em,12px 10px 0 0.020em,13px 10px 0 0.020em,14px 10px 0 0.020em #060606,15px 10px 0 0.020em #060606,2px 11px 0 0.020em #060606,3px 11px 0 0.020em #fff,4px 11px 0 0.020em,5px 11px 0 0.020em,6px 11px 0 0.020em,7px 11px 0 0.020em #fff,8px 11px 0 0.020em,9px 11px 0 0.020em,10px 11px 0 0.020em #060606,11px 11px 0 0.020em,12px 11px 0 0.020em,13px 11px 0 0.020em,14px 11px 0 0.020em #060606,15px 11px 0 0.020em #060606,2px 12px 0 0.020em #060606,3px 12px 0 0.020em #060606,4px 12px 0 0.020em #fff,5px 12px 0 0.020em,6px 12px 0 0.020em,7px 12px 0 0.020em #fff,8px 12px 0 0.020em,9px 12px 0 0.020em,10px 12px 0 0.020em #060606,11px 12px 0 0.020em,12px 12px 0 0.020em,13px 12px 0 0.020em #060606,14px 12px 0 0.020em #060606,3px 13px 0 0.020em #060606,4px 13px 0 0.020em #fff,5px 13px 0 0.020em,6px 13px 0 0.020em,7px 13px 0 0.020em #fff,8px 13px 0 0.020em #060606,9px 13px 0 0.020em #060606,10px 13px 0 0.020em #060606,11px 13px 0 0.020em,12px 13px 0 0.020em,13px 13px 0 0.020em #060606,14px 13px 0 0.020em #060606,3px 14px 0 0.020em #060606,4px 14px 0 0.020em #060606,5px 14px 0 0.020em #fff,6px 14px 0 0.020em,7px 14px 0 0.020em,8px 14px 0 0.020em,9px 14px 0 0.020em,10px 14px 0 0.020em,11px 14px 0 0.020em,12px 14px 0 0.020em #060606,13px 14px 0 0.020em #060606,4px 15px 0 0.020em #060606,5px 15px 0 0.020em #060606,6px 15px 0 0.020em #060606,7px 15px 0 0.020em,8px 15px 0 0.020em,9px 15px 0 0.020em,10px 15px 0 0.020em #060606,11px 15px 0 0.020em #060606,12px 15px 0 0.020em #060606,13px 15px 0 0.020em #060606,6px 16px 0 0.020em #060606,7px 16px 0 0.020em #060606,8px 16px 0 0.020em #060606,9px 16px 0 0.020em #060606,10px 16px 0 0.020em #060606,11px 16px 0 0.020em #060606;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.scroll-down-to-play {
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
          animation: blink-animation 1s steps(2, start) infinite;
}

@-webkit-keyframes rainbow-animation {
  from {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: cyan;
  }
  to {
    color: deeppink;
  }
}

@keyframes rainbow-animation {
  from {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: cyan;
  }
  to {
    color: deeppink;
  }
}

.musica {
  -webkit-animation: rainbow-animation 1s steps(5, start) infinite;
          animation: rainbow-animation 1s steps(5, start) infinite;
}

html {
  background-color: #2e0037ff;
}

.all::before, .reader::before, .andrea::before, .silvia::before, .musica::before {
  font-size: 24px;
  margin-right: 10px;
}

body {
  font-family: "Press Start 2P", monospace;
  font-size: 0.8rem;
  color: white;
  line-height: 1.7;
  -webkit-hyphens: manual;
      -ms-hyphens: manual;
          hyphens: manual;
}

header,
section {
  max-width: 420px;
  margin: 0 auto;
}

.toggleLayout__gamer {
  display: none;
}

.toggleLayout__booklet > .emoji {
  font-size: 18px;
  margin-right: 7px;
}

section {
  background: #17001cff;
  background: -webkit-gradient(linear, left top, left bottom, from(#2e0037ff), to(#000000ff));
  background: linear-gradient(#2e0037ff, #000000ff);
  padding: 3em 1em;
}

:is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
  font-weight: normal;
}

h1 {
  color: deeppink;
}

h2 {
  color: yellow;
}

h3 {
  margin-top: 2em;
  color: cyan;
}

.all {
  color: yellow;
}

.all::before {
  content: "💒";
}

.reader {
  color: greenyellow;
}

.reader::before {
  content: "📖";
}

.andrea {
  color: cyan;
}

.andrea::before {
  content: "🤵🏻‍♂️";
}

.silvia {
  color: deeppink;
}

.silvia::before {
  content: "👰🏻";
}

.data-e-chiesa {
  text-align: center;
  color: lightgray;
}

.data-e-chiesa__data {
  margin-bottom: 1em;
}

.scroll-down-to-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  margin-top: 3em;
}

.scroll-down-to-play > .nes-icon {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  width: 16px;
  height: 16px;
}

header {
  background-color: #2e0037cc;
  height: 82px;
}

header button {
  font-family: inherit;
  font-size: 10px;
}

.sposi {
  height: 230px;
  background-image: url(../images/beating-heart.gif), url(../images/silvia-pixelated-320px.webp), url(../images/andrea-pixelated-320px.webp);
  background-size: 100px 100px, 160px 230px, 160px 230px;
  background-position: center, left top, right top;
  background-repeat: no-repeat;
  margin: 2em 0;
}

.musica {
  text-align: center;
  font-weight: bold;
  margin: 2em 0;
}

.musica::before {
  content: "🎹";
}

.pacman {
  background: url("../images/qrp.gif") no-repeat center;
  background-size: 100px;
  height: 100px;
}
/*# sourceMappingURL=nerd.css.map */